annotated-types==0.7.0
awkward==1.10.4
awkward0==0.15.5
boost-histogram==1.5.0
cachetools==5.5.0
click==8.1.7
cloudpickle==3.0.0
coffea==0.7.22
contourpy==1.3.0
correctionlib==2.6.4
cycler==0.12.1
fonttools==4.54.1
fsspec==2024.9.0
hist==2.8.0
histoprint==2.4.0
kiwisolver==1.4.7
llvmlite==0.43.0
lz4==4.3.3
markdown-it-py==3.0.0
matplotlib==3.9.2
mdurl==0.1.2
mplhep==0.3.52
mplhep-data==0.0.3
numba==0.60.0
numpy==1.23.5
packaging==24.1
pandas==2.2.3
pillow==10.4.0
pyarrow==17.0.0
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
rich==13.9.1
scipy==1.14.1
six==1.16.0
toml==0.10.2
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.2
uhi==0.4.0
uproot==4.3.7
uproot3==3.14.4
uproot3-methods==0.10.1